# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("../starter_code/weather_df.csv", encoding="utf-8")
weather_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,lebu,-37.6167,-73.6500,52.02,63,1,14.12,CL,1659463372
1,1,punta arenas,-53.1500,-70.9167,44.11,81,100,6.08,CL,1659463345
2,2,hobart,-42.8794,147.3294,55.26,64,100,12.66,AU,1659463353
3,3,mataura,-46.1927,168.8643,44.47,78,77,9.95,NZ,1659463468
4,4,luderitz,-26.6481,15.1594,55.15,78,0,3.58,NaN,1659463179
5,5,saint-pierre,-21.3393,55.4781,69.48,81,75,8.05,RE,1659463218
6,6,ushuaia,-54.8000,-68.3000,40.62,87,75,10.36,AR,1659463469
7,7,garowe,8.4054,48.4845,86.63,32,71,16.24,SO,1659463469
8,8,sao filipe,14.8961,-24.4956,78.35,80,71,6.15,CV,1659463470
9,9,hilo,19.7297,-155.0900,75.61,89,100,3.44,US,1659463430

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
locations = weather_df[["Lat", "Lng"]].astype(float)
humidity = weather_df["Humidity"].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=max(weather_df["Humidity"]), point_radius = 3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
compatible_cities = weather_df.loc[(weather_df["Max Temp"] > 70 ) & (weather_df["Max Temp"] < 80) & 
                                   (weather_df["Wind Speed"] < 10) & (weather_df["Cloudiness"] == 0)]
compatible_cities.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
35,35,castro,-24.7911,-50.0119,76.03,35,0,4.14,BR,1659463273
123,123,miandrivazo,-19.5167,45.4667,71.46,70,0,1.28,MG,1659463522
205,205,arraial do cabo,-22.9661,-42.0278,75.06,78,0,6.91,BR,1659463562
458,458,urumqi,43.8010,87.6005,77.95,34,0,2.24,CN,1659463443

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = compatible_cities.reset_index(drop=True)
hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,35,castro,-24.7911,-50.0119,76.03,35,0,4.14,BR,1659463273,
1,123,miandrivazo,-19.5167,45.4667,71.46,70,0,1.28,MG,1659463522,
2,205,arraial do cabo,-22.9661,-42.0278,75.06,78,0,6.91,BR,1659463562,
3,458,urumqi,43.8010,87.6005,77.95,34,0,2.24,CN,1659463443,

In [14]:
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotels",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotel_name = requests.get(base_url, params=params)
    
    hotel_name = hotel_name.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
    except:
        print("Missing Field")
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,35,castro,-24.7911,-50.0119,76.03,35,0,4.14,BR,1659463273,Hotel Buganville Express
1,123,miandrivazo,-19.5167,45.4667,71.46,70,0,1.28,MG,1659463522,EDEN DE LA TSIRIBIHINA
2,205,arraial do cabo,-22.9661,-42.0278,75.06,78,0,6.91,BR,1659463562,Orlanova Boutique Hotel
3,458,urumqi,43.8010,87.6005,77.95,34,0,2.24,CN,1659463443,Sheraton Urumqi Hotel

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content=[f"Hotel Location: {rate}" for rate in hotel_info])
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))